[submodule "vendor/submodules/nrepl-inspect"]
	path = vendor/submodules/nrepl-inspect
	url = https://github.com/vitalreactor/nrepl-inspect.git
[submodule "vendor/submodules/ritz"]
	path = vendor/submodules/ritz
	url = https://github.com/pallet/ritz.git
[submodule "vendor/submodules/fringe-helper"]
	path = vendor/submodules/fringe-helper
	url = https://github.com/nschum/fringe-helper.el.git
